[project]
name = "pgtracer"
description = "Tracing tools for PostgreSQL"
version = "0.1.0"
authors = [
    { name = "Ronan Dunklau", email = "ronan.dunklau@aiven.com" }
]
dependencies = [
    "pyelftools",
    "bcc",
    "psutil"
]
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: PostgreSQL License",
    "Operating System :: POSIX :: Linux",
]


[project.scripts]
pgtrace_queries = "scripts.pgtrace_queries:main"
